.navbar {
    /* font-family: 'Girassol', cursive; */
    /* background-image: url(https://images.unsplash.com/photo-1589980843986-0b7438a4655f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1716&q=80); */
    /* background-position-y: 80%; */
    /* color: rgb(41, 41, 41); */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items:center; */
    /* padding: 0 2rem; */
    /* height: 7rem; */
    /* position: sticky; */
    /* top: 0px; */
    /* z-index: 1; */
}

/* .dashboard{
    display: block;

} */

.navbarButton {
    color: whitesmoke;
}

.navbar h1 {
    font-family: 'Girassol', cursive;

    font-variant: small-caps;
}

.navbar h1 span {
    color: #fcd6bd;
    cursor: pointer;

}

.navbar img {
    height: 2rem;
    background-color: white;
    padding: 2px;
    margin-top: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.9;
}

.navbar img:hover {
    opacity: 1;
}

.navbar h3 {
    color: white;
    margin-right: 1rem;
}

.link {
    color: black;
    text-decoration: none;
}



.buttons .button{
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: aliceblue;
    color: #6464e9;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: red; */
}



.userInf h5{
    margin-right: 1rem;
}